<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>HOW SURE ARE YOU ABOUT THIS...?</h1>
    <h2>Course Name: {{course.name}}</h2>
    <h3>Course Description: {{course.desc}}</h3>
    <form action="/courses/destroy/{{course.id}}", method='POST'>
        {% csrf_token %} 
        <input type="submit" value="KILL IT WITH FIRE">
    </form>


    <form action="/courses/">
        {% csrf_token %} 
        <input type="submit" value="nevermind">
    </form>

</body>
</html>