*{
	margin:0;
	padding:0;
	font-family: Arial;
}

#wrapper{
    width: 1000px;
    margin: 0 auto;
}

#header{

}

#header img{

}

#header h1{

}
#header h2{

}

#main-container{

}

#left-bar{

}

#left-bar h4{

}

#spanred{

}

#spanblue{

}

#left-bar h3{

}

#h3blue{

}

#h3orange{

}

#ninjaad{

}

#ninjaad p{
    
    }


#ninjaad h3{
        
        }
#main-content{

}

#dns{

}

#dns p{
    
}
#dns h2{
    
}
#dns h3{

}

#maincontent ul{

}
#maincontent ol{
    
}
#maincontent li{
    
}