<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>get dat gold</h1>
    <h2>Your gold so far: {{request.session.totalgold}}</h2>

    <h3>Farm</h3>
    <p>Earns 1-5 Gold</p>
    <form action="/process_money" method="POST">
        {% csrf_token %}
        <input type="hidden" name="building" value="farm">
        <input type="submit" value="Find Gold">
    </form>


    <h3>Cave</h3>
    <p>Earns 10-20 Gold</p>
    <form action="/process_money" method="POST">
        {% csrf_token %}
        <input type="hidden" name="building" value="cave">
        <input type="submit" value="Find Gold">
    </form>


    <h3>House</h3>
    <p>Earns 50-100 Gold</p>
    <form action="/process_money" method="POST">
        {% csrf_token %}
        <input type="hidden" name="building" value="house">
        <input type="submit" value="Find Gold">
    </form>


    <h3>Casino</h3>
    <p>Earns 1000 Gold... maybe...</p>
    <form action="/process_money" method="POST">
        {% csrf_token %}
        <input type="hidden" name="building" value="casino">
        <input type="submit" value="Find Gold">
    </form>
    <br>
    <form action ="/clear" method="POST">
        {% csrf_token %}
        <input type="submit" value="CLEAR ALL GAME DATA">
    </form>

    

    <hr>
    <h2>So much room for activities!</h2>
    {%for item in request.session.activities reversed %}
        <p>{{item}}</p>
    {%endfor%}
</body>
</html>