<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>MR Hammond, the phones are working!</h1>
    <p>Attempt# {{request.session.counter}}</p>
    <h2>Your Random Word:</h2>
    <p>{{randword}}</p>
    <a href="/">Generate</a>
    <a href="randomWord/reset"><h3>Flip the table out of anger</h3></a>
</body>
</html>