<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add a new Book Title and a Review:</h1>
    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form action="/create/" method="POST">
        {% csrf_token %}
        <p>Title:<input type="text" name="title"></p>
        <p>Author:</p>
        <p>Choose from the list: <select name="existingauthor">
            {% for book in books%}
            <option value="{{book.author}}">{{book.author}}</option>
            {%endfor%}</p>
        </select>
        <p>Or add a new author: <input type="text" name="author"></p>
        <p>Review:<textarea name="review"></textarea></p>
        <p>Rating: <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select></p>
        <input type="hidden" name="userid" value="{{request.session.id}}">
        <p><input type="submit" value="Add Book and Review"></p>
    </form>
</body>
</html>