<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
    <h1>{{book.title}}</h1>
    <h2>{{book.author}}</h2>

    <h3>Reviews:</h3>
    {%for review in reviews%}
        <hr>       
        <p>Rating: {% load static %}<img src="{% static "books/{{review.rating}}.png" %}" width="100"> </p>
        <p>{{user.alias}} says:<br> 
            {{review.review}}</p>
        <p>{{review.created_on}}</p>

        {% if review.reviewer == request.post.id%}
            <p><a href="books/destroy/{{review.id}}">Delete your review</a></p>
        {% endif %}
    {% endfor %}

    <h2>Add your own review:</h2>
    {% csrf_token %}
        <input type="hidden" name="title" value="{{book.title}}"></p>
        <input type="hidden" name="author" value="{{book.author}}"></p>
        <p>Review:<textarea name="review"></textarea></p>
        <p>Rating: <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select></p>
        <p><input type="submit" value="Submit Review"></p>
    <h3><a href="/books">Home</a> <a href="/logout">Logout</a></h3>
</body>
</html>