body{
    background-image: url(https://i.imgur.com/aFfdljx.jpg);
}
h1{
    color:#a8264d;
    font-size:300%;
    background-color:#424246;
    border:5px solid black; 
    border-radius:3px;
    text-align: center;
    width: 85%;
    margin: auto;
    
    
}
h2{
    color:#a8264d;
    font-size:245%;
    background-color:#424246;
    border:4px solid black;
    border-radius:3px; 
    text-align: center;
    width: 70%;
    margin: 5px auto;
    
    
}
h3{
    color:#a8264d;
    font-size:190%;
    background-color:#424246;
    border:3px solid black;
    border-radius:3px; 
    text-align: center;
    width: 40%;
    margin: 1px auto;
    
}
p{
    font-size:100%;
    color: #af4dec;
    background-color:#424246;
    border:2px solid black;
    border-radius:2px; 
    width: 90%;
    margin: 5px auto;
    padding: 8px;
}
div{
    
    font-size:100%;
    color: #af4dec;
    font-family: "helvetica neue", arial, verdana, sans-serif;
}
a{
    font-size:100%;
    color: #af4dec;
    background-color:#424246;
    text-align: center;
    width: 85%;
    margin: 5px auto;
    border:3px solid black;
    border-radius:3px; 
    padding: 3px;
}
#important{
    font-size:200%;
    background-color:#424246;
    border:2px solid black;
    border-radius:3px; 
    text-align: center;
    width: 90%;
    margin: 5px auto;
    padding: 8px;
}
.info{
    font-size:100%;
    color: #af4dec;
    background-color:#424246;
    border:2px solid black;
    border-radius:2px; 
    width: 90%;
    margin: 5px auto;
    padding: 8px;
}
.othercentered{
    font-size:100%;
    color: #af4dec;
    background-color:#424246;
    border:2px solid black;
    border-radius:2px; 
    text-align: center;
    width: 60%;
    margin: 5px auto;
    padding: 8px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:5px solid black; 
    border-radius:5px;
}
.stubbornlink{
    text-align: center;
}








