body{
    background-image: url(https://i.imgur.com/aFfdljx.jpg);
    font-size:100%;
    color: #af4dec;
    font-family: "helvetica neue", arial, verdana, sans-serif;
}
h1{
    color:#a8264d;
    font-size:300%;
    background-color:#424246;
    border:5px solid black; 
    border-radius:20px;
    text-align: center;
    width: 85%;
    margin: 40px auto;
    padding: 10px;
    box-shadow: 10px 10px 5px grey;
    text-shadow: 4px 4px 6px #000000
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d4d4d+0,242424+100 */
    background: rgb(77,77,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(36,36,36,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
    
}
h2{
    color:#a8264d;
    font-size:245%;
    background-color:#424246;
    border:4px solid black;
    border-radius:20px; 
    text-align: center;
    margin: 5px auto;  
    width: 75%;
    box-shadow: 8px 8px 4px grey;
    text-shadow: 2px 2px 4px #000000
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d4d4d+0,242424+100 */
    background: rgb(77,77,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(36,36,36,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
}
h3{
    color:#a8264d;
    font-size:190%;
    background-color:#424246;
    border:3px solid black;
    border-radius:20px; 
    text-align: center;
    margin: 1px auto;
    width: 65%;
    box-shadow: 8px 8px 4px rgb(41, 40, 40);
    text-shadow: 2px 2px 4px #000000
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d4d4d+0,242424+100 */
    background: rgb(77,77,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(36,36,36,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
}
p{
    font-size:100%;
    color: #af4dec;
    background-color:#424246;
    border:2px solid black;
    border-radius:20px; 
    margin: 5px auto;
    padding: 8px;
    box-shadow: 8px 8px 4px grey;
    text-shadow: 1px 1px 2px #000000
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d4d4d+0,242424+100 */
    background: rgb(77,77,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(36,36,36,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
}
a{
    font-size:100%;
    color: #af4dec;
    background-color:#424246;
    text-align: center;
    margin: 5px auto;
    border:3px solid black;
    border-radius:20px; 
    padding: 3px;
    display: block;
    width: 50%;
    box-shadow: 8px 8px 4px black;
    text-shadow: 2px 2px 4px #000000
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d4d4d+0,242424+100 */
    background: rgb(77,77,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(36,36,36,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:5px solid black; 
    border-radius:10px;
    box-shadow: 10px 10px 5px rgb(48, 47, 47);
}
ul{
    list-style-type: none;
}
#important{
    font-size:200%;
    background-color:#424246;
    border:2px solid black;
    border-radius:20px; 
    text-align: center;
    margin: 5px auto;
    padding: 8px;
    box-shadow: 8px 8px 4px grey;
    text-shadow: 2px 2px 4px #000000
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d4d4d+0,242424+100 */
    background: rgb(77,77,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(36,36,36,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
}
#navigation{
    font-size:100%;
    color: #af4dec;
    background-color:#424246;
    border:2px solid black;
    border-radius:20px; 
    width: 15%;
    margin: 5px auto;
    padding: 8px;
    display: inline-block;
    position: fixed;
    box-shadow: 10px 10px 5px grey;
    text-shadow: 2px 2px 4px #000000
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d4d4d+0,242424+100 */
    background: rgb(77,77,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(36,36,36,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#242424',GradientType=0 ); /* IE6-9 */       
}
#everything{
    float: right;
    width: 80%;
}
.info{
    font-size:100%;
    color: #af4dec;
    background-color:#424246;
    border:2px solid black;
    border-radius:20px; 
    margin: 5px auto;
    padding: 8px;
    box-shadow: 8px 8px 4px grey;
    text-shadow: 1px 1px 2px #000000
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d4d4d+0,242424+100 */
    background: rgb(77,77,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(36,36,36,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
}
.othercentered{
    font-size:100%;
    color: #af4dec;
    background-color:#424246;
    border:2px solid black;
    border-radius:20px; 
    text-align: center;
    margin: 5px auto;
    padding: 8px;
    width: 65%;
    box-shadow: 8px 8px 4px grey;
    text-shadow: 2px 2px 4px #000000
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d4d4d+0,242424+100 */
    background: rgb(77,77,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(36,36,36,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(77,77,77,1) 0%,rgba(36,36,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
}







